<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="SDN Downloader Ultra" />
    <add key="Version" value="1.0.5" />
    <add key="Architecture" value="x64" />
    <add key="CLR_Compatibility" value="v4.0.30319" />
    <add key="RenderingEngine" value="EdgeWebView2" />
    <add key="DpiAware" value="True" />
  </appSettings>
  <runtime>
    <gcServer enabled="true" />
    <generatePublisherEvidence enabled="false" />
  </runtime>
</configuration>
